@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body {
  min-width: 280px;
  max-width: 1400px;
  min-height: 100vh;
  margin: auto;
  background: linear-gradient(to bottom right, rgb(74, 79, 97), #183059)
    no-repeat;
  color: white;
}

.form {
  width: 280px;
  padding: 1rem;
  margin: 0 auto;
  transform: translateY(calc(50vh - 100%));
}

.form--submitted {
  transform: translateY(0);
  transition: transform 0.3s linear;
}

.form__label {
  display: block;
  text-transform: uppercase;
  font-size: 1.1rem;
  letter-spacing: 1px;
}

.form__input {
  width: 100%;
  padding: 0.2rem 0.4rem;
  margin-bottom: 0.75rem;
  border: 1px solid black;
  border-radius: 3px;
  background-color: rgb(176, 179, 190);
  font-size: 1rem;
}

.form__prices {
  display: flex;
  justify-content: space-between;
}

.form__min-price,
.form__max-price {
  width: 35%;
}

.form__button {
  padding: 0.4rem;
  border: 1px solid black;
  border-radius: 3px;
  background-color: rgb(240, 239, 244);
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
}

.form__button:hover {
  background-color: white;
  border-color: white;
}

.home__games-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.home__game {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: rgb(24, 27, 39);
  color: white;
  box-shadow: 0 0 4px 1px rgb(46, 51, 68);
  opacity: 0;
  animation-name: fadein;
  animation-duration: 2s;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
}

.home__game:hover {
  transform: translateY(-5px);
  transition: transform 0.1s linear;
  box-shadow: 0 0px 5px 2px rgb(46, 51, 68);
  outline: 1px solid white;
}

.game__cover {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 100%;
}

.game__image {
  display: block;
  max-width: 100%;
  max-height: 100px;
}

.game__details {
  width: 60%;
  padding: 0.5rem;
}

.game__title {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: normal;
}

.game__view-deals {
  padding: 0.3rem;
  border: 1px solid black;
  border-radius: 3px;
  background-color: rgb(240, 239, 244);
  color: black;
  font-size: 0.7rem;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
}

.game__view-deals:hover {
  background-color: white;
  border-color: white;
}

.deals-container {
  min-height: 100vh;
  padding: 1rem;
}

.home-link {
  margin-bottom: 0.5rem;
  color: rgb(240, 239, 244);
  text-decoration: none;
}

.home-link:hover {
  color: white;
  text-decoration: underline;
}

.chosen-game {
  display: flex;
  max-width: 500px;
  height: 150px;
  margin: 1rem auto;
  background-color: rgb(24, 27, 39);
  color: white;
}

.chosen-game__cover {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 100%;
}

.chosen-game__image {
  display: block;
  max-width: 100%;
  max-height: 100px;
}

.chosen-game__details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  padding-left: 0.5rem;
}

.deals {
  max-width: 500px;
  margin: auto;
}

.deal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 1rem;
  margin-bottom: 0.5rem;
  background-color: rgb(24, 27, 39);
  box-shadow: 0 0 4px 1px rgb(46, 51, 68);
}

.deal__seller-logo {
  width: 50px;
  margin-right: 1rem;
}

.deal__get-deal {
  padding: 0.3rem;
  border: 1px solid black;
  border-radius: 3px;
  background-color: rgb(240, 239, 244);
  color: black;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 500;
  text-decoration: none;
}

.deal__get-deal:hover {
  background-color: white;
  border-color: white;
}
